<br>
<div class="dashboard-wrapper">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,w_250/v1507125212/welldone_fmo1ky.jpg" alt="...">
      <div class="caption">
        <h3>Success Cards</h3>
        <p>Wish success.</p>
        <p><a routerLink="/successcards" class="btn btn-primary" role="button">Learn more</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,w_250/v1507125262/getwellsoon_xlqxb4.png" alt="...">
      <div class="caption">
        <h3>Get Well Soon</h3>
        <p>Show you care.</p>
        <p><a routerLink="/contact" class="btn btn-primary" role="button">Learn more</a>
          <!--<a href="#" class="btn btn-default" role="button">Button</a>--></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,w_250/v1507125262/sample_brocure_o4hpbx.png" alt="...">
      <div class="caption">
        <h3>Business Cards & Brochures</h3>
        <p>Reach more Earn more.</p>
        <p><a routerLink="/contact" class="btn btn-primary" role="button">Learn more</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,h_250,w_250/v1507126018/hbd_nifi5q.png" alt="...">
      <div class="caption">
        <h3>Happy Birthday Card</h3>
        <p>Say hbd:-)</p>
        <p><a routerLink="/contact" class="btn btn-primary" role="button">Learn more</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,h_250,w_250/v1507126371/calendercartoon_k9rp2u.jpg" alt="...">
      <div class="caption">
        <h3>Calender 2017/2018</h3>
        <p>Personal touch( your images)</p>
        <p><a routerLink="/contact" class="btn btn-primary" role="button">Learn more</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://res.cloudinary.com/dze7ap73i/image/upload/c_scale,h_250,w_250/v1507128345/babyheaven_eszqqo.jpg" alt="...">
      <div class="caption">
        <h3>Baby Cards</h3>
        <p>Baby showers, New borns</p>
        <p><a routerLink="/contact" class="btn btn-primary" role="button">Learn more</a>
          </p>
      </div>
    </div>
  </div>
</div>
<br>
<img src="assets/hoodie-camp-transparent.png">
<img src="assets/coyote.gif" alt="...">
</div>